<form action="/admin/new_post" method="post">
	<label>Title: </label><input type="text" name="title" placeholder="Enter the title"></br>
	<label>Body: </label><textarea name="body" rows=9 placeholder="Enter the post"></textarea></br>
	<input type="submit" value="Submit">
</form>